.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.card-projects-preview {
  width: 100%;
  height: 25vw;
  object-fit: contain;
}

.outline-div {
  border-style: dotted;
}
/* HEX COLORS:
  op 1
  #355070 - dark blue
  #4ea5d9 - blue
  #a8d5e2 - light blue
  #122c34 - black

  op 2
  #bdd4e7 - light blue
  #aab9cf - light purple
  #deefb7 - light green
  #212227 - black
*/

.navbar-custom {
  background-color: white;
  color: black;
}

.light-mode {
  background-color: white;
  color: black;

  /*
  background-color: #deefb7;
  color: #212227; 
  */
}

.dark-mode {
  background-color:#000;
  color:white;
}

.about-me {
  font-size: 14px;
}

.figure-caption {
  font-size: 12px;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}