.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  color:white;
  background-color:#000;
}

.about-me {
  font-size: 14px;
}

.figure-caption {
  font-size: 12px;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}